<div>
  <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col align-right">First Name:</div>
        <div class="col"><input type="text" class="form-control" [(ngModel)]="this.firstName"></div>
        <div class="col"></div>
      </div>

      <div class="row">
          <div class="col"></div>
          <div class="col align-right">Last Name:</div>
          <div class="col"><input type="text" class="form-control" [(ngModel)]="this.lastName"></div>
          <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col align-right">E-Mail:</div>
            <div class="col"><input type="text" class="form-control" [(ngModel)]="this.eMail"></div>
            <div class="col"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col align-right">Password:</div>
            <div class="col"><input type="password" class="form-control" [(ngModel)]="this.password"></div>
            <div class="col"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col align-right">Confirm Password:</div>
            <div class="col"><input type="password" class="form-control" [(ngModel)]="this.confirmPassword"></div>
            <div class="col"></div>
          </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="this.registerCustomer()">Register New Customer</button>
</div>
