<div>
  <div *ngIf="!this.isUserLoggedIn()">
    <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col align-right">E-mail (login):</div>
          <div class="col"><input type="text" class="form-control" [(ngModel)]="this.login" (keydown)="this.loginOnEnter($event)"></div>
          <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col align-right">Password:</div>
            <div class="col"><input type="password" class="form-control" [(ngModel)]="this.password" (keydown)="this.loginOnEnter($event)"></div>
            <div class="col"></div>
        </div>
    </div>

    <div style="text-align: center">
      <button type="button" class="btn btn-primary" (click)="this.performLogin()">Log in</button>   
    </div>
  </div>

  <div style="text-align: center" *ngIf="this.isUserLoggedIn()">
      <button type="button" class="btn btn-secondary" (click)="this.performLogout()">Log out</button> 
    </div>
</div>
