<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Movie</th>
        <th>Cinema</th>
        <th>Screening Room</th>
        <th>Row</th>
        <th>Seat</th>
        <th>Price</th>       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of ticket.Results'>
        <td>{{ item.Date | date:'MM/dd/yyyy' }}</td>
        <td>{{ item.PlayingHour.Time | date:'HH:mm' }}</td>
        <td>{{ item.Movie.Title }}</td>
        <td>{{ item.Cinema.Name }}</td>
        <td>{{ item.ScreeningRoom.Number }}</td>
        <td>{{ item.Row }}</td>
        <td>{{ item.Seat }}</td>
        <td>{{ item.Price | number:'1.2-2'}} PLN</td>        
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled':ticket.PrevPageAttributes === null}">
        <button class="page-link" (click)="this.showPrevPage()" tabindex="-1" aria-disabled="true">Previous</button>
      </li>
      <li class="page-item" *ngFor="let index of this.getPageIndexes()">
        <button class="page-link" (click)="this.goToPage(index)">{{index}}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':ticket.NextPageAttributes === null}">
        <button class="page-link" (click)="this.showNextPage()" tabindex="-1" aria-disabled="true">Next</button>
      </li>
    </ul>
  </nav>

</div>