<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Cinema</th>
        <th>Address</th>
        <th>E-Mail</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of this.cinema'>
        <td>{{ item.Name }}</td>
        <td>{{ item.Address }}</td>
        <td>{{ item.Email }}</td>
        <td><a routerLink="/programme-details/{{item.Name}}">Show current programme</a></td>
      </tr>
    </tbody>
  </table>
</div>