<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand" href="#">Kino</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/login">Login/Logout</a>
            </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/cinema-list">List of Cinemas</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/tickets">List of tickets</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>