<div><b>{{this.cName | uppercase}}</b></div>
<br>
<div class="list-group" *ngFor='let item of this.programme'>
  <div class="list-group-item">
    <div class="row">
      <div class="col"></div>
      <div class="col align-right">Programme Start Date:</div>
      <div class="col">{{ item.StartDate | date:'MM/dd/yyyy' }}</div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col align-right">Movie Title:</div>
      <div class="col"><b>{{ item.Movie.Title }}</b></div>
      <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col align-right">Description:</div>
        <div class="col"><i>{{ item.Movie.Description }}</i></div>
        <div class="col"></div>
      </div>
    
    <div class="row">
      <div class="col"></div>
      <div class="col align-right">Runtime:</div>
      <div class="col">{{ item.Movie.Runtime }} Minutes</div>
      <div class="col"></div>
    </div>
    <br>
    <div *ngFor='let phsr of item.PlayingHoursScreeningRooms'>
      <div class="row">
        <div class="col"></div>
        <div class="col align-right">Screening Room Number:</div>
        <div class="col">{{ phsr.ScreeningRoom.Number }}</div>        
        <div class="col"></div>
      </div>

      <div class="row" *ngFor='let ph of phsr.PlayingHours'>
        <div class="col"></div>
        <div class="col align-right">Playing hours:</div>
        <div class="col">{{ ph.Time | date:'HH:mm' }}</div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>


